---
layout: default
---

{% include header.html %}

<main id="content" class="container">
				
	<section id="page-content">

		<h1 class="page-title">{{ site.title | smartify }}</h1>

		<ul id="photostream">
			{% for photo in site.photos %}
			<li class="photostream grid-item">
				<article>
					<a href="{{ photo.url }}" title="View {{ photo.title }}" class="grid-link">
						{% picture grid {{ photo.photo }} %}
					</a>
				</article>
			</li>
			{% endfor %}
		</ul>

		{{ content }}
							
	</section>
	
</main>

{% include footer.html %}