// Home page styles

body#photos-photo,
body#photos-photostream {

	h1.page-title {
		@include xs {
			font-size: 		$h1-font-size-base-xs;
		}
		@include sm {
			font-size: 		$h1-font-size-base-sm;
		}
		@include md {
			font-size: 		$h1-font-size-base-md;
		}
		@include lg {
			font-size: 		$h1-font-size-base-lg * 2;
			line-height: 	$h1-line-height-base-lg * 2;
		}
		@include xl {
			font-size: 		$h1-font-size-base-xl * 1.5;
			line-height: 	$h1-line-height-base-xl * 1.5;
		}
	}
	
	
	ul#photostream {
		
		padding: 			0;
		margin: 			0;
		
		list-style: 		none !important;
		
		li.grid-item {
			display: inline-block;
			position: relative;
			list-style: none;
			margin: 0;
			float: left;
			
			@include sm-down {
				
				padding: 0 0 10px 0;
				
				&:nth-child(odd) {
					padding-left: 0;
					padding-right: 5px;
				}
				&:nth-child(even) {
					padding-left: 5px;
					padding-right: 0;
				}
				
				max-width: 50%;
			}
			
			@include md-up {
				
				padding: 0 0 15px 0;
				
				&:nth-child(odd) {
					padding-left: 0;
					padding-right: 7.5px;
				}
				&:nth-child(even) {
					padding-left: 7.5px;
					padding-right: 0;
				}
				
				max-width: 50%;
			}
		}
		
		@include clearfix;
		
	}
	
	
	picture {
		display: 	block;
		position: 	relative;
		margin: 	0;
		padding: 	0;
	}
	
	img.photo {
		max-width: 			100%;
	}

}