// Wishlist styles

body#wishlist-home {
		
	h1.site-heading {
		
		font-weight: 			900;
		text-align: 			left;
		
		@include xs {
			font-size: 		$h1-font-size-base-xs;
		}
		@include sm {
			font-size: 		$h1-font-size-base-sm;
		}
		@include md {
			font-size: 		$h1-font-size-base-md;
		}
		@include lg {
			font-size: 		$h1-font-size-base-lg * 2;
			line-height: 	$h1-line-height-base-lg * 2;
		}
		@include xl {
			font-size: 		$h1-font-size-base-xl * 1.5;
			line-height: 	$h1-line-height-base-xl * 1.5;
		}
		
	}
	
	section#page-content > section {
		
		@include xs {
			padding-bottom: 	0;
		}
		@include sm {
			padding-bottom: 	0;
		}
		@include md {
			padding-bottom: 	$p-padding-bottom-md * 1.5;
		}
		@include lg {
			padding-bottom: 	$p-padding-bottom-lg * 1.5;
		}
		@include xl {
			padding-bottom: 	$p-padding-bottom-xl * 1.5;
		}
		
		@include clearfix;
		
	}
	
	aside.intro-text {
		
		span.item-giftidea {
			position: relative;
			
			color: $white;
			background: $cyan;
			
			border: 1px solid $cyan;
			border-radius: 6px;
			
			padding: 0px 7px;
			text-transform: uppercase;
			font-variant: small-caps !important;
			font-size: 70%;
			top: -5px;
			vertical-align: middle;
		}
		
	}
	
	ul {		
		padding: 			0;
		margin: 			0;
		
		list-style: 		none !important;
		
		li.wishlist-item {
			
			display: block;
			&.hidden {
				display: none;
			}
			
			list-style: 	none;
			padding: 		20px 0;
						
			box-sizing: 	border-box;
			
			border-top: 	1px solid $gray-400;
			@include dark-mode {
				border-color: $gray-700;
			}
			
			div.item-info {
				display: 	block;
				float:      none;
				clear:      both;
				width: 	100%;
				@include sm-up {
					display: 	block;
					float:		left;
					clear:		none;
					width: 	70%;
				}
			}
			aside.item-metadata {
				display: 	block;
				float:		none;
				clear: 		both;
				width: 		100%;
				padding-top: 10px;
				@include sm-up {
					display: 	block;
					float:		right;
					clear:		none;
					width: 		30%;
					padding: 	0;
				}
			}
			span.item-name {
				display: block;
				width: 100%;
			}
			span.item-extradetails {
				display: block;
				width: 100%;
				
				font-size: 70%;
			}
			span.item-price {
				margin-left: 20px;
				float: right;
			}
			span.item-giftidea {
				position: relative;
				
				color: $white;
				background: $cyan;
				float: left;
				
				border: 1px solid $cyan;
				border-radius: 6px;
				
				padding: 0px 7px;
				text-transform: uppercase;
				font-variant: small-caps !important;
				font-size: 70%;
				vertical-align: middle;
			}
			span.item-purchased {
				position: relative;
				
				color: $white;
				background: $green;
				float: left;
				
				border: 1px solid $green;
				border-radius: 6px;
				
				padding: 0px 7px;
				text-transform: uppercase;
				font-variant: small-caps !important;
				font-size: 55%;
				vertical-align: middle;
			}
			
			@include clearfix;
		}
	}
	
	fieldset#toggle-purchased {
		
		background: $blockquote-background;
		@include dark-mode {
			background: $blockquote-background-dark-mode;
		}		
		
		
		padding: 15px 10px 10px;
		
		@include sm-up {
			text-align: right;
			padding: 20px;
		}
		
		legend {
			@extend p;
			display: inline-block;
			text-align: left;
			float: left;
			
			font-weight: bold;
			padding-bottom: $p-padding-bottom-xs * 0.8;
			@include sm-up {
				padding-bottom: 0;
				margin-bottom: 0;
			}
		}
		
		div.radio-input {
			
			margin-bottom: 10px;
			
			@include sm-up {
				display: inline-block;
				margin-bottom: 0;
			}
			
			label {
				font-weight: normal;
				vertical-align: middle;
			}
		}
		
		@include clearfix;
		
	}
	
}